@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {background-color: rgb(22, 22, 22);margin: 0};
/*Whatever gets mentioned first will not work, so I have to mention it twice. This is a bug, please someone fix this!!*/
h3,h4,h5,h6,p {
    color: rgb(210, 210, 210);
    font-family: 'Inter', Arial, sans-serif;
    padding: 20px;
}
h2 {
    color: rgb(225, 225, 225);
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 500;
    padding: 25px;
}
.ribbon{
  background-color: rgb(44, 96, 175);border-color: rgb(22,22,22);border-width: 5px;border-style: solid;
}
h3,h4,h5,h6,p {
    color: rgb(210, 210, 210);
    font-family: 'Inter', Arial, sans-serif;
    padding-left: 20px;
    padding-right: 20px;
}

a,button{
  font-family: 'Inter', Arial, sans-serif;
}
td p{
  padding: 0px;
  margin: 0%;
  color: rgb(210, 210, 210);
}
button{
  background-color: rgb(77, 77, 77);
  color: rgb(197, 197, 197);
  border: 0.005vw solid rgb(87, 87, 87);
  border-radius: 0.5vw;

}
button:hover{
  background-color: rgb(90,90,90);
  border: 0.005vw solid rgb(201, 201, 201);
  color: rgb(228, 228, 228);
}
button:active{
  background-color: rgb(32, 32, 32);
}
.tomboltengah{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
a:link{
  color: rgb(59, 160, 255)
}
a:visited{
  color: rgb(235, 221, 30)
}

.a-kesamping{
  padding-left: 20px;
  padding-right: 20px;
  display: block
}

h1 {
    color: rgb(245, 245, 245);
    font-family:'Inter', Arial, sans-serif;
    font-weight: 700;
    text-align: center;
    font-kerning: auto;
    font-size: 5.189vw; /*This was 70px*/
    letter-spacing: -0.222vw;
    padding: 3.36vw;
    margin-top: 6vw;
}

.header{
    background-color: rgb(44, 96, 175);

}

.header-kuid-index{
  position: relative; 
  height: 33vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

iframe {
  border: none;
}
/*Thanks to this site for the solution: https://coder-coder.com/background-image-opacity/ */
.header-kuid-index::before {
  content: "";
  background-image: url('code.png');
  position: absolute;
  top: 0vw;
  right: 0vw;
  bottom: 0vw;
  left: 0vw;
  opacity: 0.75;
  background-size: cover;
  z-index: -3;

}

.column{
  float: left;
  padding-bottom: 50px;
}

.column.side{
  width: 20%;
}

.column.middle{
  width: 60%;
}

@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  background-color: rgb(32, 32, 32);
  text-align: center;
  padding: 30px;
}

table, th, td {
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
  border-bottom: 1px solid gray;
  border-collapse: collapse;
  padding: 7px;
  color: rgb(210, 210, 210);
  text-align: center;
}

th{
  border-bottom: 1px solid;
  border-color: gray;
}

table.center {
  margin-left: auto;
  margin-right: auto;
}

tr:nth-child(even){
  background-color: rgba(116, 116, 116, 0.233);
}

.jump-to {
  position: fixed;
  width: 20%;
  background-color: rgba(88, 88, 88, 0.75);
  border: 0.890vw; /*this was 12px*/
  padding-bottom: 1.853vw; /*this was 25px*/
  border-color: brown;
  bottom: 0;
}

#jumptobar{
  visibility: inherit;
}
@media screen and (max-width: 900px) {
  h1 {
    margin-top: 6.9vw;
    font-size: 6.5vw;
  }
}
@media screen and (max-width: 700px) {
  h1{
  margin-top: 17vw;
  font-size: 9vw;
  }
  .jump-to{
    width:80%;
  }
  #jumptobar{
    display: inline-block;
    display: none;
  }
}
/*!!Horizontal nav bar code below, please keep it below this text otherwise things will break!!*/
ul.nav-parent {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(32, 32, 32);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 2.224vw 2vw; /* was 2.224vw */
  text-decoration: none;
  font-size: large;
  font-weight: 300;
}

li a:hover:not(.active) {
  background-color: rgb(80, 80, 80);
}

.active {
  background-color: rgb(44, 96, 175);
}
/*
.nav-parent {
    display: flex;
    justify-content: center;
    align-items: center;
}
*/
.nav-child {
    display: inline-block;
    font-size: 1.3vw;
}

.pc-txt{
  display: inline-block;
}

.hidden{
  display: none;
}
@media screen and (max-width: 900px) {
  a.nav-child{
    font-size: 2vw;
  }

}


@media screen and (max-width: 700px) {
  p{
    font-size: 4.23vw;
  }
  a.nav-child{
    font-size: 3vw;
  }
  h2{
    font-size: 5vw;
  }

  .hidden{
    display: inline-block;
    font-size: 12vw;
  }
  .pc-txt{
    display: none;
  }

}

/*PLEASE DO NOT ADD NEW CODES TO THIS SECTION!!!! (UNLESS IT'S FOR THE NAV BAR!)*/